 
body{
    font-family: "Manrope", "sans-serif";
}

.hero-headline{
    color: #FF5E19;
    font-family: 'Berkshire Swash', 'cursive';
    line-height: 100px;
}

/* .hero::after{
    content: '';
    position: absolute;
    right: 0%;
     top: 75px; 
    width: 210px;
    height: 30px;
   
    z-index: 11;
} */

.line-mark{
    background: url(./image/Ureg-Ureg-Marker.svg) no-repeat center bottom; 
  
}

.disabled{
    background-color: grey !important;
}

@media only screen and (min-width: 768px) {
    .hero-headline{
        display: block;
        background: url(./image/Line-Marker.svg) no-repeat bottom right;
        background-size: 150px;
        line-height: 110px;
        

    }
  }
