 
body{
    font-family: "Manrope", "sans-serif";
}

.hero-headline{
    color: #FF5E19;
    font-family: 'Berkshire Swash', 'cursive';
    line-height: 120px !important;
}


.line-mark{
    background: url(./image/Ureg-Ureg-Marker.svg) no-repeat bottom; 
    line-height: 90px !important;
}

.disabled{
    background-color: grey !important;
}

@media only screen and (min-width: 768px) {
    .hero-headline{
        display: block;
        background: url(./image/Line-Marker.svg) no-repeat bottom right;
        background-size: 150px;
        line-height: 120px;
        

    }
  }
